/* RESET RULES  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul , ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

/* LAYOUT */

.container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

.hd-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .container {
    padding: 10px 30px;
}

.hd-navbar > .features {
    display: flex;
    gap: 10px;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
    justify-content: center;
}

.main-element {
    min-height: 400px;
    margin: 0 auto;
}

.layout-1 .row,
.layout-2 .row,
.layout-3 .row  {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.big-element {
    min-height: 1000px;
    margin: 0 auto;
}

/* DEBUG */

.main-header.debug {
    background-color: aqua;
}

.container.debug {
    border: 1px solid black;
}

.hd-navbar.debug {
    background-color: orange;
    border-style: dotted;
}

.main-section.debug {
    background-color: blue;
}

.main-section .container .debug {
    max-width: 900px;
    background-color: pink;
    border-style: dotted;
}

.layout-1, .layout-3.debug {
    background-color: white;
}

.layout-2, .layout-4.debug {
    background-color: grey;
}

.row *.debug {
    border-style: dotted;
}

.col-60 {
    background-color: lightblue;
}

.col-40 {
    background-color: pink;
}

.big-element.debug {
    background-color: green;
}